* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

header {
    display: flex;
    justify-content: space-evenly;
    background-color: #2874f0;
    width: 100%;
    height: 100%;
}

.header-left {
    width: 20%;
    text-align: right;
    margin: 5px 0px;
    cursor: pointer;
}

.header-left a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;

}

.header-left-p a {
    font-size: 10px;

}

.header-left p {
    color: yellow;
    font-size: 10px;
    letter-spacing: 1px;
}

.header-left-p:hover {
    text-decoration: underline;
    color: white;
}

.header-center {
    width: 40%;
    text-align: left;
    line-height: 50px;
    cursor: pointer;
    padding-left: 10px;
    position: relative;
}

.header-center input {
    height: 36px;
    width: 100%;
    border: none;
    text-align: left;
    padding-left: 20px;
    outline: none;
}

.fa-search {
    position: absolute;
    top: 30%;
    left: 94%;
    font-size: 18px;
    color: #2874f0;
}

.header-right {
    width: 40%;
    font-size: 15px;
    display: flex;
    justify-content: flex-start;
    line-height: 50px;
}

.header-right a {
    text-decoration: none;
    color: white;
    margin: 0px 25px;
}

.header-right button {
    color: #2874f0;
    font-weight: 500;
    background-color: #fff;
    cursor: pointer;
    border-radius: 2px;
    height: 32px;
    padding: 5px 40px;
    border: 1px solid #dbdbdb;
}


.fa-shopping-cart {
    padding-right: 10px;
}

.fa-sort-down {
    padding-left: 5px;

}
section a{
    text-decoration: none;
}
.cate-row {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    text-align: center;
    width: 100%;
    height: auto;


}

.cate-col {
    padding: 10px, 0px;
    cursor: pointer;

}

.cate-col img {
    width: 70px;
    height: 70px;
}

.cate-col h5:hover {
    color: #2874f0;
}


.banner {

    margin: 10px 5px;
    cursor: pointer;

}


.slider img {

    width: 100%;
}


.card {
    box-shadow: rgb(177, 174, 174) 0px 0px 5px 1px;
    padding: 10px 0px;
    margin: 10px 5px;

}


.view-button button {
    width: 90px;
    height: 40px;
    font-size: 18px;
    background-color: #2874f0;
    border: none;
    color: white;
    border-radius: 2px;
    margin-top: 20px;
    margin-left: 80px;

}

.title-col {
    width: 150px;
    height: 100%;


}

.title-col h1 {
    font-size: 30px;
    font-weight: 400;
    margin-left: 50px;
    text-align: center;


}
.title-col h2{
    font-size: 25px;
    font-weight: 500;
    margin-left: 50px;
    

}


.sub-row {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;

}

.common-row {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-height: 366px;
    margin: 10px 0px;

}

.common-col {
    text-align: center;
    line-height: 22px;
}

.common-col img {
    width: 80px;
    height: 200px;
    transition: 300ms;
}

.common-col img:hover {
    transform: scale(0.9);
}

.common-col h3,
h4,
h6 {
    letter-spacing: 1px;
    cursor: pointer;
}

.common-col h3 {
    margin-top: 10px;
    font-size: 16px;
}

.common-col h4 {
    color: green;
    font-size: 14px;
    font-weight: 300;
}

.common-col h6 {
    color: rgb(161, 161, 161);
    font-size: 12px;
    font-weight: 100;
}

.common-col img {
    width: 125px;
    height: 150px;
}

footer {
    background-color: #172337;
    height: 332;
}




.left-footer {
    display: flex;
    width: 60%;
    justify-content: space-evenly;
    padding-top: 40px;
    

}

li {
    font-size: 12px;
    font-weight: 400;
    margin: 8px 0;
    list-style: none;
    color: white;
    

}

ul {
    color: #878787;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    
}

.footer-row1 a{
    text-decoration: none;
    color: white;

}

.footer-row1{
display: flex;
}
.left-footer a:hover{
    text-decoration: underline;
}

.right-footer{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
    
    
}
.line{
    height: 80%;
    border-left:1px  solid #454d5e ;
}
.right-footer h6{
    color: white;
}
.register a{
    color: blue;
    
}